.jumbotron h1 {
  color: #335577;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.jumbotron {
  background-color: #EBEBEB;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

span, label, div {
  color: #2B445A
}

span.result-count {
  font-size: 14px;
  color: #3380C4
}

.inspection-table td {
  cursor: pointer;
  text-align: center;
}

.inspection-detail-table.borderless td, .inspection-detail-table.borderless th,
.inspection-block-table.borderless td, .inspection-block-table.borderless th {
  border: none;
}

.inspection-block-table td.right {
  text-align: right;
}

.inspection-list-scrollable {
  overflow-y:scroll;
  height: 100vh;
}

.inspection-block-table label {
  margin-bottom: 0px;
}
